
div#personInfo {
   margin: 0px 24px 8px 24px;
   border: 1px black solid;
   padding: 4px;
   background-color: #777;
   color: white;
   font-size: 1.3em;
   resize:vertical;
   overflow:auto;  
   min-height:9em; 
   display: flex;
}

.personInfoTitle {
  text-align: center;
  font-size: 2.4em;
  flex: 1;
}
.personInfoContent {
  flex: 3;
}
.personInfoRow {
   display: flex;
   justify-content: flex-start;
   width: 100%;
   
}
.personInfoTimestamp {
   background: #333;
   margin-left: 10px;
   margin-right: 10px;
   flex: 0 1 auto;
   width: 20%;
   padding: 2px 4px;
   border-bottom: 1px dotted white;
}
.personInfoNote {
   background: #444;
   flex: 0 0 auto;
   width: 80%;
   padding: 2px 10px;
   border-bottom: 1px dotted white;
}
.personInfoNote a {
   color: white;
}
.profilePic {
  height: 220px;
  width: 220px;
  border-radius: 18px;
}

#people {
  background: lightgray;
}

#peopleTable {
  box-sizing: initial;
}
table.dataTable.compact thead th, 
table.dataTable.compact thead td{
   padding: 2px;

}
th {
   font-size: 13px;
   padding: 0px;
}
td {
   font-size: 1.2em;
   padding: 0px;
}
.small-text {
   font-size: 9px;
}

.selectedRow {
  border: 1px black solid;
  background: yellow;
  transition: all 0.5s ease-out;
}
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child:before {
    text-indent: 0px;
}

.camportal {
}
.camcontent{
  display: block;
  }
.cambuttons {
  background: black;
  width: 240px;
}
.cambuttons button {
  border-radius: 12px;
  font-size: 1.2em;
  }
.cambuttons button:hover {
  cursor: pointer;
  border-radius: 12px;
  background: #00dd00 ;    /* green */ 
  }

#takePortrait {
   background-image:url(images/camera.png) ;
   background-size: 100% 100%;
}
.portrait {
  height: 240px;
  width: 240px; 
  border: 1px gray solid;
  background: #aaa;
 
}

.divButton {
  display: inline-block;
  font-size: 1.2em;
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px 10px;
  background: #ddd;
  cursor: pointer;
}

.flash {
  background: #ffffff;
  width: 100%; 
  height: 100%;
  position: absolute; 
  top: 0; 
  left: 0;
}

#cancel {
   background-image:url(images/back.png) ;
   background-size: 100% 100%;
}
#snap {
   background-image:url(images/shutter.png) ;
   background-size: 100% 100%;
}
#reset {
   background-image:url(images/retake.png) ;
   background-size: 100% 100%;
}
#upload {
   background-image:url(images/save.png) ;
   background-size: 100% 100%;
}
.iconButton 
{
  display:      inline-block;
  margin-top:    6px;
  margin-bottom: 2px;
  margin-left:  18px;
  margin-right: 18px;
  width:        40px;
  height:       40px;
}

.dataTables_wrapper .dataTables_length {
float: right;
}
.dataTables_wrapper .dataTables_filter {
float: left !important;
text-align: left;
}

